.post {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px #00000015;
    margin: auto;
    border-radius: 15px;
    background-color: var(--color-white);
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}


.post-img-container img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.post-details {
    padding: 10px;
}

.post-details h4 {
    margin-bottom: 10px;
}

.post-author-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
